.Hero {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px 0px 0px 0px;

  .mainImage {
    height: 95%;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 4px;

    &::-webkit-scrollbar {
      display: none;
    }

    .swiper {
      span {
        background-color: #007aff;
      }

      .swiperSlide {
        height: 90%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 780px) {
  .Hero {
    height: 500px;

    .mainImage {
      width: 65%;
    }
  }
}
