.Navbar {
  width: 85%;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background-color: rgba($color: #1e1c29, $alpha: 0.8);
  padding: 16px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .iconsList {
    width: 100%;
    display: flex;
    background-color: inherit;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: transparent;

    li {
      background-color: inherit;
    }

    .navIcon {
      color: #ffff;
      background-color: inherit;
      height: 25px;
      width: 25px;
      cursor: pointer;
      padding: 0px 0px 4px 0px;
    }
  }
}

@media screen and (min-width: 780px) {
  .Navbar {
    position: fixed;
    top: 18%;
    left: 80px;
    width: 6%;
    height: 75%;
    flex-direction: column;
    padding: 16px 14px;

    .iconsList {
      height: 100%;
      width: 100%;
      flex-direction: column;

      .navIcon {
        padding: 0px 0px 0px 6px;

        &:hover {
          color: #02aa7a;
          border-left: 1px solid #02aa7a;
        }
      }
    }
  }
}
