@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #18121f;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #403f44, #1e1b32);
}
